$blur-color: #d4eeff;
$main-text: white;
$placeHolder:rgb(75, 103, 139);
$background: black; 
$button: #0071ba;
$buttonHL: #b8e2fc;
$buttonLL: #003657;

body {
  background-color: $background;
  background-image: url(../../../../public/img/6BWTransFade.png);
}

.container {
  padding: 10px;
  max-width: 80%;
}

.formLabel,
.formTitle {
  color: $main-text;
  font-size: x-large;
  text-shadow: 1px 1px 3px $blur-color;
}

.entryField {
  color: $placeHolder;
  font-size: smaller;
}

.formTitle {
  font-size: xx-large
}

.formPromise {
  color: $main-text;
  font-size: medium;
  font-style: italic;
  text-shadow: 1px 1px 3px $blur-color;
}

.logOutButton {
  visibility: hidden;
}

.formButton,
.formButton:hover,
.formButtton:active {
  background-color: $button;
  width: 160px;
  color: $main-text;
  box-shadow: 
  1px 0 1px $buttonHL inset,
  0px 2px 1px $buttonHL inset,
  2px 0 2px $buttonLL inset,
  0px 2px 2px $buttonLL inset;
}

.formButton:hover {
  filter: brightness(75%);
}

.formButton:active {
  filter: brightness(50%);
}