$blur-color: #d4eeff;
$main-text: white;
$button-text: white;
$background: black; 
$highlight: rgb(209, 209, 209);
$shadow: rgb(46, 46, 46);
$button: #0071ba;
$buttonHL: #b8e2fc;
$buttonLL: #003657;
$backColor: #151f25;

body {
  background-color: $background;
  background-image: url(../../../../public/img/6BWTransFade.png);
}

.container {
  padding: 10px;
  max-width: 80%;
}

.cardBody,
.cardFoot {
  background-color: $backColor;
 }

.thumbNail {
  box-shadow: 
  1px 0 1px $highlight inset,
  0px 2px 1px $highlight inset,
  2px 0 2px $shadow,
  0px 2px 2px $shadow
}

.goDetail,
.goDetail:hover,
.goDetail:active {
  background-color: $button;
  color: $button-text;
  width: 80%;
  box-shadow: 
  1px 0 1px $buttonHL inset,
  0px 2px 1px $buttonHL inset,
  2px 0 2px $buttonLL inset,
  0px 2px 2px $buttonLL inset;
}

.goDetail:hover {
  filter: brightness(75%);
}

.goDetail:active {
  filter: brightness(50%);
}