$blur-color: #d4eeff;
$main-text: white;
$button-text: white;
$background: black; 
$button: #0071ba;
$buttonHL: #b8e2fc;
$buttonLL: #003657;

body {
  background-color: $background;
  background-image: url(../../../../public/img/6BWTransFade.png);
}

.container {
  padding: 10px;
  max-width: 80%;
}

.formLabel,
.formPromise {
  color: $main-text;
  font-size: larger;
  text-shadow: 1px 1px 3px $blur-color;
}

.formPromise {
  font-style: italic;
}

.logOutButton {
  visibility: visible;
}

.goUser,
.goUser:hover,
.goUser:active,
.logOutButton,
.logOutButton:hover,
.logOutButton:active {
  background-color: $button;
  color: $button-text;
  font-size: smaller;
  width: 160px;
  box-shadow: 
  1px 0 1px $buttonHL inset,
  0px 2px 1px $buttonHL inset,
  2px 0 2px $buttonLL inset,
  0px 2px 2px $buttonLL inset;
}

.goUser:hover,
.logOutButton:hover {
  filter: brightness(75%);
}

.goUser:active,
.logOutButton:active {
  filter: brightness(50%);
}