$blur-color: #d4eeff;
$main-text: white;
$button-text: white;
$background: black; 
$button: #0071ba;
$buttonHL: #b8e2fc;
$buttonLL: #003657;

// body {
//   background-color: $background;
//   background-image: url(../../../../public/img/6BWTransFade.png);
// }

.container {
  padding: 10px;
  max-width: 80%;
}

.bondImage {
  width: 80%;
  height: auto;
  box-shadow: 2px 2px 3px black;
}

.label,
.value {
  font-size: medium;
  color: $main-text;
  text-shadow: 2px 2px 3px black;
}

.titleh1 {
  color: $main-text;
  font-size: x-large;
  }


.goBackMovie,
.goBackMovie:hover,
.goBackMovie:active {
  background-color: $button;
  color: $button-text;
  width: 200px;
  box-shadow: 
  1px 0 1px $buttonHL inset,
  0px 2px 1px $buttonHL inset,
  2px 0 2px $buttonLL inset,
  0px 2px 2px $buttonLL inset;
}

.goBackMovie:hover {
  filter: brightness(75%);
}

.goBackMovie:active {
  filter: brightness(50%);
}