$blur-color: #d4eeff;
$main-text: white;
$button-text: white;
$background: black; 
$button: #0071ba;
$buttonHL: #b8e2fc;
$buttonLL: #003657;
$backColor: #151f25;

.container {
  padding: 10px;
  max-width: 80%;
}

.cardBody,
.cardFoot {
  background-color: $backColor;
  color: $main-text;
  font-size: medium;
}

.bondImage {
  width: 60%;
  height: auto;
  box-shadow: 
  1px 0 1px black inset,
  0px 2px 1px black inset,
  2px 0 2px black inset,
  0px 2px 2px black inset;
}

.thumbNail {
  box-shadow: 
  1px 0 1px black inset,
  0px 2px 1px black inset,
  2px 0 2px black inset,
  0px 2px 2px black inset;
}

.label,
.textMain,
.value {
  font-size: medium;
  color: $main-text;
  text-shadow: 2px 2px 3px black;
}

.titleh1 {
  color: $main-text;
  font-size: x-large;
  }

.titleh2 {
  color: $main-text;
  font-size: medium;
  }

.goMovie2,
.goMovie2:hover,
.goMovie2:active,
.goMain2,
.goMain2:hover,
.goMain2:active,
.goDetail2,
.goDetail2:hover,
.goDetail2:active {
  background-color: $button;
  color: $button-text;
  width: 160px;
  box-shadow: 
  1px 0 1px $buttonHL inset,
  0px 2px 1px $buttonHL inset,
  2px 0 2px $buttonLL inset,
  0px 2px 2px $buttonLL inset;
}

.goDetail2,
.goDetail2:hover,
.goDetail2:active {
  width: auto;
}

.goMovie2:hover,
.goMain2:hover,
.goDetail2:hover {
  filter: brightness(75%);
}

.goMovie2:active,
.goMain2:active,
.goDetail2:active {
  filter: brightness(50%);
}