$blur-color: #d4eeff;
$main-text: white;
$button-text: white;
$background: black; 
$placeHolder:rgb(75, 103, 139);
$button: #0071ba;
$buttonRed: #8b010d;
$buttonHL: #b8e2fc;
$buttonLL: #111a20;
$backColor: #151f25;

.container {
  padding: 10px;
  max-width: 80%;
}

.formLabel,
.formTitle {
  color: $main-text;
  font-size: x-large;
  text-shadow: 1px 1px 3px $blur-color;
}
.entryField {
  color: $placeHolder;
  font-size: smaller;
}

.formTitle {
  font-size: xx-large
}

.formPromise {
  color: $main-text;
  font-size: medium;
  font-style: italic;
  text-shadow: 1px 1px 3px $blur-color;
}

.titleh1,
.valueh1 {
  color: $main-text;
  font-size: large;
  text-shadow: 1px 1px 3px $blur-color;
}

.formButton,
.formButton:hover,
.formButtton:active,
.formButton1,
.formButton1:hover,
.formButtton1:active {
  background-color: $button;
  width: 160px;
  color: $main-text;
  box-shadow: 
  1px 0 1px $buttonHL inset,
  0px 2px 1px $buttonHL inset,
  2px 0 2px $buttonLL inset,
  0px 2px 2px $buttonLL inset;
}

.goDetail5,
.goDetail6,
.goDetail5:hover,
.goDetail6:active,
.goDetail5:hover,
.goDetail6:active {
  background-color: $button;
  width:100px;
  color: $main-text;
  box-shadow: 
  1px 0 1px $buttonHL inset,
  0px 2px 1px $buttonHL inset,
  2px 0 2px $buttonLL inset,
  0px 2px 2px $buttonLL inset;
}

.formButton1,
.formButton1:hover,
.formButtton1:active,
.goDetail6,
.goDetail6:hover,
.goDetail6:active {
  background-color: $buttonRed;
}

.formButton:hover,
.formButton1:hover,
.goDetail5:hover,
.goDetail6:hover {
  filter: brightness(75%);
}

.formButton:active,
.formButton1:active,
.goDetail5:active,
.goDetail6:active {
  filter: brightness(50%);
}